body{
    background-color: rgb(42, 91, 124) ;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}


.flex-item{
    color: white;
    display: flex;
    flex-direction: column;
    }

.weather-block {
    background-color: lightskyblue;
    padding: 4rem;
    border-radius: 20%;
  
}

.search-button {
    margin-top: 2rem;
    border-radius: 10%;
    background-color: blue;
    color: aliceblue;
    outline: none;
}